<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/add-classification.css">
</head>
<body>
    <h1 class="page-title"><%= title %></h1>

    <div class="card">
        <!-- messages -->
        <% if (messages && messages.length > 0) { %>
            <div class="messages">
              <% messages.forEach(message => { %>
                <div class="alert alert-info"><%= message %></div>
              <% }) %>
            </div>
          <% } %>
          
        <form class="classification-form" action="/inv/add-classification" method="POST">
            <input class="classification-input" type="text" name="classification_name" placeholder="New Classification" required>
            <button class="classification-submit" type="submit">Add New Classification</button>
        </form>

        <h2 class="existing-classifications-title">Existing Classifications</h2>
        <ul class="classification-list">
            <% classifications.forEach(classification => { %>
                <li class="classification-item">
                    <form class="update-form" action="/inv/update-classification" method="POST" style="display: inline;">
                        <input type="hidden" name="classification_id" value="<%= classification.classification_id %>">
                        <input class="classification-update-input" type="text" name="classification_name" value="<%= classification.classification_name %>" required>
                        <button class="classification-update-submit" type="submit">Update</button>
                    </form>

                    <form action="/inv/classification/delete/<%= classification.classification_id %>" method="POST" style="display: inline;">
                        <button class="classification-delete-submit" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
